@{
    ViewBag.Title = "Home Page";
}


Make sure you have fully read the readme file included in this project


<ul>
    <li>@Html.ActionLink("Simple List", "SimpleList", "Results")</li>
    <li>@Html.ActionLink("Harder List", "HarderList", "Results")</li>
</ul>