@{
    ViewBag.Title = "Home Page";
}


Make sure you have fully read the readme file included in this project


<ul class="sortable-list">
    <li class="sortable">@Html.ActionLink("Simple List", "SimpleList", "Results")</li>
    <li class="sortable">@Html.ActionLink("Harder List", "HarderList", "Results")</li>
</ul>